@layer utilities {
    .multi-line-ellipsis {
        @apply overflow-hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .page-transition {
        animation: fadeIn 0.1s ease-in;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .modal-animation {
        animation: fadeInScaleUp 0.3s ease-in-out;
    }

    @keyframes fadeInScaleUp {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .shadow-pulse {
        animation: shadowPulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    @keyframes shadowPulse {
        0%,
        100% {
            box-shadow: 0 0 0 0 rgba(250, 77, 86, 0);
        }
        50% {
            box-shadow: 0 0 8px 4px rgba(250, 77, 86, 0.5);
        }
    }
}
